@using MvcProject.ViewModels.Account
@model resetPassVM

<h2>Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="mb-3">
        <label asp-for="Password"></label>
        <div class="position-relative">
            <input asp-for="Password" class="form-control pe-5" id="Password" />
            <button type="button" class="toggle-password btn position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent">
                <i class="fa-solid fa-eye-slash"></i>
            </button>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <div class="position-relative">
            <input asp-for="ConfirmPassword" class="form-control pe-5" id="ConfirmPassword" />
            <button type="button" class="toggle-password btn position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent">
                <i class="fa-solid fa-eye-slash"></i>
            </button>
        </div>
    </div>

    <br />
    <button type="submit" class="btn-gradient">Reset Password</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
    .btn-gradient {
        background: linear-gradient(90deg, #6366f1, #6366f1);
        color: white;
        border: none;
        padding: 12px 40px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

        .btn-gradient:hover {
            opacity: 0.9;
            transform: translateY(-2px);
        }

        .btn-gradient:active {
            transform: scale(0.98);
        }
</style>

<script>
    document.querySelectorAll('.toggle-password').forEach(function(button) {
        button.addEventListener('click', function () {
        
            // get the input next to the button
            var input = this.previousElementSibling;

            var isPassword = input.type === 'password';
            input.type = isPassword ? 'text' : 'password';

            var icon = this.querySelector('i');
            icon.classList.toggle('fa-eye');
            icon.classList.toggle('fa-eye-slash');
        });
    });
</script>