<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Privacy Policy";
=======
﻿@using Microsoft.AspNetCore.Authorization
@{
    ViewData["Title"] = "Privacy Policy";
    int projectId = 1213124;
>>>>>>> 8ede1be8af9ec82583cabefb08c524b5a2f670d2
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<<<<<<< HEAD
=======
@inject IAuthorizationService authorizationService

@{
    var authorizationResult = await authorizationService.AuthorizeAsync(User, projectId, "RequireProjectMember");
    if (authorizationResult.Succeeded)
    {
        // اى حاجة 
    }
    else
    {
        // اى حاجة تانية
    }
}
>>>>>>> 8ede1be8af9ec82583cabefb08c524b5a2f670d2
